/* место для вашего кода */

/* Шапка */
.header {
  padding: 100px 50px;
}

/* Основной */
.main {
  margin: 0 0 180px;
}

/* Обложка */
.cover {
  padding: 0 50px 50px 50px;
}

/* Лоты */
.lots {
  margin: 180px 24px 0;
}

/* Об аукционе */
.about {
  margin: 120px 24px;
}

/* Подвал */
