/* Шапка */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
  font-size: 18px;
  line-height: 24.3px;
}

.header__menu-list {
  display: flex;
  gap: 33px;
  text-underline-offset: 4px;
}

.header__menu-item {
  list-style: circle;
}

.header__menu-item:first-child {
  list-style: none;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  display: block;
  width: 100%;
  height: 100%;
}

.address {
  display: flex;
  flex-direction: column;
  font-style: normal;
  text-underline-offset: 4px;
}

.header__address {
  justify-self: end;
  align-items: flex-start;
  max-width: 240px;
}

/* Основной */
.main {
  margin: 0 0 180px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.6);
}

/* Обложка */
.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 757px;
  padding: 165px 50px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
}

.cover__title {
  position: relative;
  z-index: 1;
  display: grid;
  gap: 20px;
  color: #fff;
  font-weight: bold;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

/* Доп. правила для заголовка обложки */

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
  translate: 16px;
}

.aligned-text_right {
  text-align: right;
  translate: 30px;
}

.cover__description {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.cover__description-text {
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 19px;
}

.cover__button {
  border: 1px solid #fff;
  padding: 12px 32px 11px 31px;
  color: #fff;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  background-color: transparent;
}

/* Лоты */
.lots {
  margin: 180px 24px 0;
}

/* Об аукционе */
.about {
  margin: 120px 24px;
}

/* Подвал */
