/* место для вашего кода */

/* Шапка */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
  font-size: 18px;
  line-height: 24.3px;
}

.header__menu-list {
  display: flex;
  gap: 33px;
  text-underline-offset: 4px;
}

.header__menu-item {
  list-style: circle;
}

.header__menu-item:first-child {
  list-style: none;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  display: block;
  width: 100%;
  height: 100%;
}

.address {
  font-style: normal;
  display: flex;
  flex-direction: column;
  text-underline-offset: 4px;
}

.header__address {
  max-width: 240px;
  justify-self: end;
  align-items: flex-start;
}

/* Основной */
.main {
  margin: 0 0 180px;
}

/* Обложка */
.cover {
  padding: 0 50px 50px 50px;
}

/* Лоты */
.lots {
  margin: 180px 24px 0;
}

/* Об аукционе */
.about {
  margin: 120px 24px;
}

/* Подвал */
